import java.io.IOException;
import com.google.gson.TypeAdapter;
import com.google.gson.annotations.JsonAdapter;
import com.google.gson.stream.JsonReader;
import com.google.gson.stream.JsonWriter;

/**
 * Gets or Sets 
 */
@JsonAdapter(.Adapter.class)
public enum  {
  
  _UNSUPPORTED_ENUM("_UNSUPPORTED_ENUM");
  private  value;

  ( value) {
    this.value = value;
  }

  public  getValue() {
    return value;
  }

  @Override
  public String toString() {
    return String.valueOf(value);
  }

  public static  fromValue( value) {
    for ( b : .values()) {
      if (b.value.equals(value)) {
        return b;
      }
    }
    return ._UNSUPPORTED_ENUM;
  }

  public static class Adapter extends TypeAdapter<> {
    @Override
    public void write(final JsonWriter jsonWriter, final  enumeration) throws IOException {
      jsonWriter.value(enumeration.getValue());
    }

    @Override
    public  read(final JsonReader jsonReader) throws IOException {
       value = jsonReader.next();
      return .fromValue(value);
    }
  }
}
